
img{
	width: 10em;
	height: 6em;
}

td, tr{
	width: 10em;
	height: 6em;
	border-style: groove;
	text-align: center;
}

input {
	
	margin-top: 0.5em;
	margin-left: 5em;
	height: 5em;
	width: 6em;
}

#coche{
	margin-left: 25%; 

	height: 20em;
	width:20em;
}
#coche img{
	width: 100%;
	height: 100%;
}
/*
#coche td{
	width: 21em;
	height: 13em;
	border-style: groove;
	text-align: center;
	}*/
